*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.menu{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3));
}
.nav-menu ul .link{
  display: inline;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
}
.nav-menu ul .link:hover{
color:red;
font-size: 25px;
box-shadow: 5px 15px 15px violet;
cursor: pointer;
transition: 0.5s;
}
.container{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.image{
  background-image: url(../assets/imagem.jpg);
 
}
.produtos{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0  20px;
}
p{
  color:red;
}
.btn{
  border:2px solid black;
  padding: 7px 20px;
  border-radius: 70px;
  font-size: 20px;
  color:aqua;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.35s;
  background-color: black;
}
.btn:hover{
  background-color: aqua;
  color: black;
  box-shadow: 5px 5px 5px violet;
}